{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
  {{ parent() }}
{% endblock %}

{% block content %}

<h1>Nos produits</h1>

<div class="container mt-3">
    <div class="row">
        {% for products in products %}
        <div class="col-12 col-sm-4">
            <div class="card my-1">
                <div class="card-body">
                    {{ products }}
                     <p class="card-text">Vita est illis semper in fuga uxoresque mercenariae conductae ad tempus ex pacto atque, ut sit species matrimonii, dotis nomine futura coniunx hastam et tabernaculum offert marito, post statum diem si id elegerit discessura, et incredibile est quo ardore apud eos in venerem uterque solvitur sexus.</p>
    <a href="#" class="btn btn-primary">Voir</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
  {% endblock %}

  
   
   
   
   
   
   
   

   

